<html>   
<head>        
<title >Mercado Liebre</title> 
    <meta charset="UTF-8">
    <meta name="viewport" content ="width=device-width, initial-scale=1.0">   
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@300;400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@300;400&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/style.css">  
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" rel="stylesheet"/>
    <link rel="stylesheet" media="screen and (min-width: 769px)"type="text/css" href="/style.css" />
    <link rel="stylesheet" media="screen and (min-width: 1169px)"  type="text/css" href="/style.css" />

  </head>    
<body class="body"> 
    <header>
        <div class="text-header">
            <div class="barra-logo-buscador-compra"> 
              <div class="wrap-buscador">
              <div class="barra-logo-buscador"> 
                <div class="caja-logo"> 
                <div class="logo"> <img src="/logo.jpg" alt="Logo de la empresa"></div>
              </div>  
                <div class="barra-buscadora-completa">
                  
                    <input type="text" placeholder="Buscar productos, marcas..." class="barra-buscadora"> 
                    <button type="submit" class="buscador-icon"> <i class="fa fa-search"> </i></button> 
                  </div>  
                </div> 
              </div>
              <div class="compra"><i class="fa-sharp fa-solid fa-hand-holding-dollar"></i> Comprá en cuotas y sin tarjeta de crédito </div>
            </div>
            
                <div class="menu-abajo">
                  <ul class="barra">
                      <li><a href="https://www.mercadolibre.com.ar/ofertas" style="text-decoration: none"  target="_blank" class="lista" >  Ofertas </a>    </li>  
                      <li><a href="https://www.mercadolibre.com.ar/ofertas" style="text-decoration: none" target= "_blank" class="lista">  Tiendas Oficiales </a></li>
                      <li> <a href="https://www.mercadolibre.com.ar/ofertas" style="text-decoration: none" target= "_blank" class="lista"> Vender </a></li>
                      <li> <a href="https://www.mercadolibre.com.ar/ofertas" style="text-decoration: none" target="_blank" class="lista"> Ayuda </a></li>
                  </ul>

                  <ul class="barra-usuario">
                      <li><div class="user-icon"> <a href="/register" style="text-decoration: none" target="_blank" class="lista">  Creá tu cuenta </a> 
                      <i class="menu-icon"> <i  class="fa-solid fa-address-card" ></i> </i></li> 
                      <li><div class="user-icon"> <a href="/login" style="text-decoration: none" target ="_blank" class="lista">  Ingresá </a> 
                        <i class="menu-icon"> <i class="fa-sharp fa-solid fa-arrow-right-from-bracket" ></i> </i></li> 
                      <li> <div class="user-icon"> <a href="https://www.mercadolibre.com.ar/ofertas" style="text-decoration: none" target ="_blank" class="lista"> Mis compras </a> 
                        <i class="menu-icon"> <i class="fa-sharp fa-solid fa-basket-shopping" ></i> </i></li> 
                  </ul>
              </div>
          </div>
          <button class="btn"> <i class="fas fa-bars"> </i></button>
          
        </header>
   
    <div class="background">
        <img src="/banner.jpg" class="imagen-inicio-articulos">
          <h3>Basado en tu última visita</h3>
          
          <div class="ultima-visita-articulos"> 
          <div class="articulo1"> 
          <img src="/moulinex.jpg" alt="Logo de la empresa" class="imagen-producto">
          <div class="articulo-texto"> 
          <button class="articulo-icon"> <i class="fa-sharp fa-solid fa-truck"></i> </button>   
          <p class= "precios">$6.770</p>
          <p class= "descuentos">40% OFF</p>
          <p class=  "descripciones">Cafetera Moulinex</p>
        </div>
        </div> 

        <div class="articulo2">
         <img src="/macbook.jpg" class="imagen-producto">
         <div class="articulo-texto"> 
         <button class="articulo-icon"> <i class="fa-sharp fa-solid fa-truck"></i> </button>  
         <p class= "precios">$230.000</p>
          <p class= "descuentos">20% off</p>
          <p class=  "descripciones">MacBook Pro 2019</p>
        </div>
        </div>

        <div class="articulo3"> 
          <div> <img src="/samsung.jpg" class="imagen-producto"></div> 
          <div class="articulo-texto"> 
            <button class="articulo-icon"> <i class="fa-sharp fa-solid fa-truck"></i> </button>
          <p class= "precios">$70.500</p>
          <p class= "descuentos">10% off</p>
          <p class=  "descripciones">Samsung Galaxy S10</p>
        </div>
        </div>

        <div class="articulo4">
          <div> <img src="/tv.jpg" class="imagen-producto"></div>
          <div class="articulo-texto"> 
          <button class="articulo-icon"> <i class="fa-sharp fa-solid fa-truck"></i> </button>  
          <p class= "precios">$23.200</p>
          <p class= "descuentos">5% off</p>
          <p class=  "descripciones">SmartTv Samsung 43"</p>
        </div>
        </div>
      </div>

          <h3>Ofertas</h3>
          
          <div class="ofertas-articulos"> 
          <div class="articulo5"> 
          <div> <img src="/moulinex.jpg" alt="Logo de la empresa" class="imagen-producto"></div>
          <div class="articulo-texto">  
          <button class="articulo-icon"> <i class="fa-sharp fa-solid fa-truck"></i> </button>  
          <p class= "precios">$6.770</p>
          <p class= "descuentos">40% OFF</p>
          <p class=  "descripciones">Cafetera Moulinex</p>
        </div>
        </div>

        <div class="articulo6"> 
          <div> <img src="/macbook.jpg" class="imagen-producto"></div>
          <div class="articulo-texto">  
          <button class="articulo-icon"> <i class="fa-sharp fa-solid fa-truck"></i> </button>  
          <p class= "precios">$230.000</p>
          <p class= "descuentos">20% off</p>
          <p class=  "descripciones">MacBook Pro 2019</p>
        </div>
        </div>

        <div class="articulo7">
          <div> <img src="/samsung.jpg" class="imagen-producto"></div>
          <div class="articulo-texto"> 
          <button class="articulo-icon"> <i class="fa-sharp fa-solid fa-truck"></i> </button>  
          <p class= "precios"> $70.500</p>
          <p class= "descuentos">10% off</p>
          <p class=  "descripciones">Samsung Galaxy S10</p>
        </div>
        </div>

        <div class="articulo8"> 
          <div> <img src="/tv.jpg" class="imagen-producto"></div>
            <div class="articulo-texto"> 
            <button class="articulo-icon"> <i class="fa-sharp fa-solid fa-truck"></i> </button>  
            <p class= "precios">$23.200</p>
            <p class= "descuentos">5% off</p> 
            <p class=  "descripciones">SmartTv Samsung 43"</p>
            </div>
        </div>
      </div>



    <div class="footer">
      <div class="footer-todos"> 
        <div class="footer-tarjeta"> 
          <div class="footer-componentes"> 
            <div class="footer-icon"> <i class="fa-sharp fa-solid fa-credit-card"></i> </div> 
            <p class=  "footer-title">Pagá con tarjeta o en efectivo</p>
            <p class=  "footer-p">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
          </div>
        </div>

          <div class="footer-envio"> 
            <div class="footer-componentes"> 
              <div class="footer-icon"> <i class="fa-sharp fa-solid fa-gift"></i> </div> 
              <p class= "footer-title">Envío gratis desde $ 2.500</p>
              <p class=  "footer-p">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
          </div>
        </div>

          <div class="footer-seguridad"> 
            <div class="footer-componentes"> 
            <div class="footer-icon"> <i class="fa-sharp fa-solid fa-user-shield"></i> </div> 
            <p class=  "footer-title">Seguridad, de principio a fin</p>
            <p class=  "footer-p">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
          </div>
          </div>
      </div>
        <p class=  "copy">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>

  
        
      </div>
    </div>

    
     
  </body></html>